.add_todo_button {
  position: fixed;
  right: -5px;
  bottom: 0;
  z-index: 100;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 5rem;
  color: #83a7a3;
  font-family: 'EarlyFontDiary';
}

@font-face {
  font-family: 'EarlyFontDiary';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
